<div class=" ml-72 flex items-center justify-center w-auto ms-[8.8rem] pt-14">
	<div class="mt-48 text-center flex flex-col gap-3">
		<h3>Start your productivity journey!</h3>
		<div>
			<button class="p-4 bg-blue-700 rounded-lg shadow-lg border-x-2 border-y-2 border-gray-800 hover:bg-blue-600">add to discord</button>
		</div>
	</div>
</div>