	<div class="h-full fixed top-0 left-0 w-[280px] z-[1] bg-slate-900"></div>
		<div class="h-full fixed top-0 left-0 w-[280px] z-10 bg-slate-700 flex flex-col items-center rounded-3xl ml-16 mt-[3.8rem]">
			<div class="mt-8 flex flex-col gap-3">
				<img src="" class="h-24 w-24 bg-white rounded-full">
				<p class="text-center text-white font-semibold">username</p>
			</div>
			<div class="flex flex-col">
				<div class="flex flex-col">
					<div class="flex mt-4 mx-4 mb-0">
						<img src="../images/icons/chevron-right.png" alt="icon down" class="h-6 w-6 rotate-90">
						<h3 class="text-left w-64 text-gray-800 hover:text-white transition-all duration-100 ease-linear">productivity</h3>
					</div>
					<div>
						<div class="flex ml-6 p-3 ">
							<p>🔑</p>
							<h3 class="text-left ml-1">Resources</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class=" ml-72 flex items-center justify-center w-auto ms-[8.8rem] pt-14">

		</div>